.custom-textarea::placeholder {
    color: rgb(120, 116, 116);
    opacity: 0.7; 
  }
  
  .customBtn {
    transition: all 0.5s ease;
  }
  
 
  
  
  .title {
    color: black;
    background: none;
    font-size: 3rem;
  }
  
  .form {
    padding: 10px;
    border-radius: 10px;
    background: none;
  }
  
  .textarea {
    font-size: 1.1rem;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: black;
    background: rgba(0, 0, 0, 0.1);
  }